{% load static %}
<!-- ##### Footer Area Start ##### -->
    <footer class="footer-area ">
        <div class="container">
            <div class="row justify-content-center">
                <!-- Footer Widget Area -->
                <div class="col-12 col-sm-6 col-lg-3">
                    <div class="footer-widget">
                        <!-- Logo -->
                        <a href="/" class="foo-logo"><img src="{% static 'img/core-img/logo2.png' %}" alt=""></a>
                        <p>{{setting.description}}</p>
                        <div class="footer-social-info">
                            <a href="https://www.facebook.com/mohamedanas.fandi" target="_blank" class="facebook"><i class="fa fa-facebook"></i></a>
                            <a href="https://www.youtube.com/channel/UCkPV8dBW6yJtUtXAS4x6Vtw?view_as=subscriber" target="_blank" class="youtube"><i class="fa fa-youtube"></i></a>
                            <a href="https://www.instagram.com/?hl=en" target="_blank" class="instagram"><i class="fa fa-instagram"></i></a>
                            <a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
                            <a href="https://www.linkedin.com/in/mohammad-anas-fandi-9a4b711ab/" target="_blank" class="linkedin"><i class="fa fa-linkedin"></i></a>
                        </div>
                    </div>
                </div>

                <!-- Footer Widget Area -->
                <div class="col-12 col-sm-6 col-lg-3">
                    <div class="footer-widget">
                        <h6 class="widget-title">Categories</h6>
                        <nav class="footer-widget-nav">
                            {% load mptt_tags %}
                            <ul>
                                {% recursetree categories %}
                                    <li>
                                        <a href="/category/{{ node.id }}/{{ node.slug }}"><i class="fa fa-angle-double-right" aria-hidden="true"></i>{{ node.title }}</a>
                                    </li>
                                {% endrecursetree %}
                            </ul>

                        </nav>
                    </div>
                </div>
            </div>
        </div>


    </footer>
    <!-- ##### Footer Area End ##### -->

    <!-- ##### All Javascript Script ##### -->
    <!-- Popper js -->
    <script src="{% static 'js/bootstrap/popper.min.js' %}"></script>
    <!-- Bootstrap js -->
    <script src="{% static 'js/bootstrap/bootstrap.min.js' %}"></script>
    <!-- All Plugins js -->
    <script src="{% static 'js/plugins/plugins.js' %}"></script>
    <!-- Active js -->
    <script src="{% static 'js/active.js' %}"></script>