{% load static %}
<!-- >>>>>>>>>>>>>>>>>>>>
         Post Right Sidebar Area
        <<<<<<<<<<<<<<<<<<<<< -->
        <div class="post-sidebar-area right-sidebar {% if not page %} mt-30 {% endif %} mb-30 box-shadow">


            <!-- Sidebar Widget -->
            <div class="single-sidebar-widget p-30">
                <!-- Social Followers Info -->
                <div class="social-followers-info">
                    <!-- Facebook -->
                    <a href="https://www.facebook.com/mohamedanas.fandi" target="_blank" class="facebook-fans"><i class="fa fa-facebook"></i> 4,360 <span>Fans</span></a>
                    <!-- Twitter -->
                    <a href="#" class="twitter-followers"><i class="fa fa-twitter"></i> 3,280 <span>Followers</span></a>
                    <!-- YouTube -->
                    <a href="https://www.youtube.com/channel/UCkPV8dBW6yJtUtXAS4x6Vtw?view_as=subscriber" target="_blank" class="youtube-subscribers"><i class="fa fa-youtube"></i> 1250 <span>Subscribers</span></a>
                    <!-- Google -->
                    <a href="https://www.instagram.com/?hl=en" target="_blank" class="instagram-followers"><i class="fa fa-instagram"></i> 4,230 <span>Followers</span></a>
                </div>
            </div>

            <!-- Sidebar Widget -->
            <div class="single-sidebar-widget p-30">
                <!-- Section Title -->
                <div class="section-heading">
                    <h5>Categories</h5>
                </div>

                <!-- Catagory Widget -->
                {% load mptt_tags %}
                <ul class="catagory-widgets">
                    {% recursetree categories %}
                        <li>
                            <a href="/category/{{ node.id }}/{{ node.slug }}"><span><i class="fa fa-angle-double-right" aria-hidden="true"></i>{{ node.title }}</span></a>

                        </li>
                    {% endrecursetree %}
                </ul>
            </div>

            <!-- Sidebar Widget -->
            <div class="single-sidebar-widget">
                <a href="#" class="add-img"><img src="img/bg-img/add2.png" alt=""></a>
            </div>


        </div>
    </section>
    <!-- ##### Mag Posts Area End ##### -->
