
<div class="sidebar-area bg-white mb-30 box-shadow col-12 col-md-6 col-lg-5 col-xl-3">
    <div class="single-sidebar-widget p-30">
        <!-- Section Title -->
        <div class="section-heading">
            <h5>User Menu</h5>
        </div>

        <!-- Catagory Widget -->
        <ul class="catagory-widgets">
            <li><a href="/user/posts/"><span> My Posts </span></a></li>
            <li><a href="/user/comments/"><span> My Comments </span></a></li>
            <li><a href="#"><span> Favourites </span></a></li>
            <li><a href="/user/likes/"><span> Liked </span></a></li>
            <li><a href="/logout/"><span> Logout </span></a></li>
        </ul>
    </div>
</div>
